<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ecommage_helloworld_post_listing_data_source" xsi:type="string">Ecommage\HelloWorld\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ecommage\HelloWorld\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ecommage_helloworld_post</argument>
            <argument name="resourceModel" xsi:type="string">Ecommage\HelloWorld\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <type name="Ecommage\HelloWorld\Controller\Index\Example">
        <plugin name="Ecommage_HelloWorld_Plugin" type="Ecommage\HelloWorld\Plugin\ExamplePlugin" sortOrder="10" disabled="false"  />
    </type>

     <preference for="Magento\Customer\Controller\Account\Create" type="Ecommage\HelloWorld\Controller\Account\Create" />
     
     <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">

        <arguments>

            <argument name="collections" xsi:type="array">

                    <item name="sales_order_grid_data_source" 
                            xsi:type="string">Ecommage\HelloWorld\Model\ResourceModel\Order\Grid\Collection</item>

            </argument>

        </arguments>

    </type>

    <type name="Ecommage\HelloWorld\Model\ResourceModel\Order\Grid\Collection">

        <arguments>

            <argument name="mainTable" xsi:type="string">sales_order_grid</argument>

            <argument name="resourceModel" xsi:type="string">Magento\Sales\Model\ResourceModel\Order</argument>

        </arguments>

    </type>

        <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider"> 
            <arguments> 
                <argument name="addFieldStrategies" xsi:type="array"> 
                    <item name="manage_stock" xsi:type="object">Ecommage\HelloWorld\Ui\DataProvider\Product\AddManageStockFieldToCollection</item> 
                </argument> 
            </arguments> 
        </type> 

 
    

</config>
    
    