<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Ecommage\Blog\Controller\Blog\Save">
        <plugin name="Ecommage_Validation_Plugin" type="Ecommage\Validation\Plugin\ValidateBlog" sortOrder="10" disabled="false"  />
    </type>
</config>

